* {
    margin: 0;
    padding: 0;
    font-family: 'open sans';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDE2E4;
}

.container {
    max-width: 1300px;
    margin: 50px 10px;
    /* height: 80vh; */
    background-color: white;
    display: flex;
    border-radius: 35px;
    overflow: hidden
}

.main {
    width: 100%;
}
.main-content {
    margin: 20px 45px;
}

.main-content-header {
    display: flex;
    justify-content: space-between;
}

.main-content-header p {
    font-size: 28px;
    font-weight: 600;
}

.main-content-header button {
    background-color: white;
    padding: 8px 16px;
    color: #3A86FF;
    font-weight: 600;
    font-size: 13px;
    border: 2px solid #3A86FF;
    border-radius: 4px;
    transition: all 0.15s ease;
}

.main-content-header button:hover {
    background-color: #3A86FF;
    color: white;
    cursor: pointer;
}
.main-content-header button:active {
    opacity: 0.8;
}

.header-progress {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.icon-border {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.icon-border i {
    color: #3A86FF;
    font-size: 25px;
}
.header-progress div:first-child  i {
    font-size: 27px;
}


.border {
    width: 9.6vw;
    margin-right: 3px;
    margin-left: 3px;
    height: 2.5px;
    background-color: #b1b9c4;
    

}




@media (max-width:730px) {
    .side-bar {
        display: none;
    }
    .container {
        border-radius: 10px;
    }
}